@{
    ViewData["Title"] = "Home Page";
}

<div class="alert alert-danger" role="alert" style="display:none" id="errorBlock">
    <div asp-validation-summary="All" class="mb-0">Some errors here</div>
</div>

<div class="text-center" id="userContainer">
    
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/scriptUserOperationHandler.js">
         
    </script>
}
